@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-3">
		<h2 style="text-align:center;">QUOTE OF THE DAY</h2>
		<!-------Do not change below this line------->
		<div align="center"><iframe align="center" src="http://widget.calendarlabs.com/v1/quot.php?cid=101&uid=1193745141&c=random&l=en&cbg=da291c&cb=1&cbc=000000&cf=calibri&cfg=000000&qfs=bi&qta=center&tfg=000000&tfs=bi&afc=000000&afs=i" width="188" height="210" marginwidth=0 marginheight=0 frameborder=no scrolling=no allowtransparency='true'>Loading...</iframe></div><!-------Do not change above this line------->
        
    </div>
	<div class="col-md-3">
		<h2>Events</h2>
		<div>
			<script type="text/javascript" src="http://100widgets.com/js_data.php?id=105"></script>
		</div>  

	</div>
	<div class="col-md-3">
		<center>
			<h2>Birthdays</h2>
			<img src="/Content/Images/thin-0914_cake_birthday_anniversary-512.png" width="100" height="100" />
			<p><big>Josh Miller's Birthday</big></p>
		</center>
	</div>
	<div class="col-md-3">
		<div style="width: 199px;"><iframe style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=73165" width="199" height="82" frameborder="0" scrolling="no"></iframe><a style="text-indent: -9999em;margin: -20px 0 0 0;height: 20px;z-index: 1;position: relative;display: block" href="http://www.willyweather.com/oh/franklin-county/columbus.html" rel="nofollow">columbus OH weather forecast</a></div>
	</div>
</div>


