@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-3">

		<h2 style="text-align:center;">QUOTE OF THE DAY</h2>
		<!-------Do not change below this line------->
		<div align="center"><iframe align="middle" src="http://widget.calendarlabs.com/v1/quot.php?cid=101&uid=1193745141&c=random&l=en&cbg=da291c&cb=1&cbc=000000&cf=calibri&cfg=000000&qfs=bi&qta=center&tfg=000000&tfs=bi&afc=000000&afs=i" width="188" height="210" marginwidth=0 marginheight=0 frameborder=no scrolling=no allowtransparency='true'>Loading...</iframe></div><!-------Do not change above this line------->
        
    </div>
	<div class="col-md-3">
		<center><h2>Events</h2></center>
		<div>
			<center><script type="text/javascript" src="http://100widgets.com/js_data.php?id=105"></script></center>
		</div>  

	</div>
	<div class="col-md-3">
		<center>
			<h2>Birthdays</h2>
			<img src="/Content/Images/birthday-cake.png" width="200" height="200" />
			<br />
			<p><big>Josh Miller's Birthday</big></p>
		</center>
	</div>
	<div class="col-md-3">
		<h2>ANNIVERSARIES</h2>
		<img src="/Content/Images/glasses-brindis-with-a-heart.png" width="200" height="200" />
		<p><big>AEP's 111th Anniversary</big></p>
	</div>
</div>


