@{
	ViewBag.Title = "SAFETY";
}

<center>
	<nav class="navbar navbar-light bg-faded">

		<span class="navbar-text">

			<big>IMPROVEMENT</big>

		</span>
</center><center>
	<div class="row">
		 	<div class="col-sm-6">
		 		<img src="~/Content/Images/BmX3Q.png" width="150"
			</div>
		 	<div class="col-sm-6">
				<img src="~/Content/Images/line-chart.png" width="300"
		    </div>
	</div>
</center>
<center>
	<div class="row">
		<div class="col-sm-6">CROSS TRAINING INPUT HERE</div>
		<div class="col-sm-6">TRAINGING HOURS INPUT HERE</div>
	</div>
	<form action="/action_page.php" id="usrform">
		Subject: <input type="text" name="usrname">
		<input type="submit">
	</form>
	<br>
<textarea rows="4" cols="50" name="comment" form="usrform">

Enter text here...</textarea>
	<p>If you have any feedback on areas we need improvement on please let us know.</p>

	<p><b>Note:</b> The form attribute is not supported in IE.</p>

</center>

<center>
	<nav class="navbar navbar-light bg-faded">

		<span class="navbar-text">

			<big>SAFETY</big>

		</span>
</center>
<img src="~/Content/Images/49855386-Hazard-warning-attention-sign-Icon-in-a-red-triangle-with-exclamation-mark-symbol-isolated-on-a-whit-Stock-Illustration.jpg" width="100" />
