@{
	ViewBag.Title = "SAFETY";
}

<center>
	<nav class="navbar navbar-light bg-faded">

		<span class="navbar-text">

			<big>IMPROVEMENT</big>

		</span>
</center><center>

	<div class="row">
		 	<div class="col-sm-6">
		
			</div>

		 	<div class="col-sm-6">
			
		    </div>
	</div>
</center>
<center>
	<div class="row">
		<div class="col-sm-6"></div>
		<div class="col-sm-6"></div>
	</div>
	
	<br>

</center>

<center>
	<nav class="navbar navbar-light bg-faded">

		<span class="navbar-text">

			<big>SAFETY</big>

		</span>
</center>
<img src="~/Content/Images/49855386-Hazard-warning-attention-sign-Icon-in-a-red-triangle-with-exclamation-mark-symbol-isolated-on-a-whit-Stock-Illustration.jpg" width="100" />
