@model List<WebApplication14.Models.SCORECARD_FACT>
@{
	ViewBag.Title = "STATISTICS";
}

<nav class="navbar-statistics">
	<br />
	<span class="navbar-text">

		<h2>STATISTICS</h2>

	</span>

	<center>
		<div class="row">
			<div class="col-sm-6">
				
			</div>
			<div class="col-sm-6">

			</div>
		</div>
	</center>
	

	<h2>OPERATIONS</h2>
		

	<h2>FINACIALS</h2>
